<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cyborg/bootstrap.min.css"
    >
    <title>Document</title>
</head>
<body>
<div class="container">
    {% for message in app.session.flashBag.get('fidele') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="alert alert-primary">
        Vous nous avez visité {{ app.session.get('nbVisite') }} fois;
    </div>
    <div class="alert alert-danger">
        {{ message }}
    </div>

</div>
</body>
</html>