{% extends 'base.html.twig' %}


{% block body %}
    {% for personne in personnes %}
        <div class="card">
            <h5 class="card-header">{{ personne.id }}</h5>
            <div class="card-body">
                <h5 class="card-title">{{ personne.firstname }} {{ personne.name }}</h5>
                <p class="card-text">{{ personne.age }} ans </p>
                <a href="#" class="btn btn-primary">Supprimer</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
